{% extends 'base.html' %}

{% block content %}
    {% include 'navi-bars/top-navbar.html' %}
    <section >
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-9 main-chart">

                    <div id="content-main">
                        <h2>
                            Frequently Asked Questions
                        </h2>
<!--
                        <h3>
                            1. Website Terms of Use
                        </h3>
                        <ol>
                            <li>These Terms (“Terms”) govern your (“User”) use of the Okota website, mobile site and ‘app’ located, inter alia, at the domain name <a href="http://www.okota.co.za">www.okota.co.za</a>, as well as via any other electronic application or media (“Website”). By accessing and using the Website, the User agrees to be bound by the Terms set out in this legal notice. If the User does not wish to be bound by these Terms, the User may not access, display, use, download, or otherwise copy or distribute Content obtained at the Website.</li>
                        </ol>
-->
                    </div>


               </div>
            </div>
        </section>
    </section>

{%  endblock %}
