{% extends 'base.html' %}

{% block content %}
    {% include 'navi-bars/top-navbar.html' %}
    <section >
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-9 main-chart">

                    <div id="content-main">
                        <h2>
                            Okota Website Terms of Use Agreement</h2>
                        <h3>
                            1. Website Terms of Use</h3>
                        <ol>
                            <li>These Terms (“Terms”) govern your (“User”) use of the Okota website, mobile site and ‘app’ located, inter alia, at the domain name <a href="http://www.okota.co.za">www.okota.co.za</a>, as well as via any other electronic application or media (“Website”). By accessing and using the Website, the User agrees to be bound by the Terms set out in this legal notice. If the User does not wish to be bound by these Terms, the User may not access, display, use, download, or otherwise copy or distribute Content obtained at the Website.</li></ol>
                        <h3>
                            2. Updating of these Terms
                        </h3>
                        <ol>
                            <li>Okota may change, modify, add to or remove from portions or the whole of these Terms. Changes to these Terms will become effective when the changes are posted to this Website. Okota will notify the User of the changes via email or by posting a prominent notice on the Website. The User’s continued use of this Website following the posting of changes or updates will be considered notice of the User’s acceptance of these Terms, including any changes or updates.</li></ol>
                        <h3>
                            3. Supplier of Goods or Services Details</h3>
                        <ol>
                            <li>In accordance with the disclosure requirements of the Electronic Communications and Transactions Act (“ECTA”), 25 of 2005, the supplier of goods or services offered for sale, hire or exchange by way of an electronic transaction, makes the following information available to consumers:
                                <ol>
                                    <li>The supplier is Kearabiloe Ledwaba t/a Okota (“Supplier”) a private limited company duly registered and existing under the laws of South Africa registration number: 2013/024566/07;</li>
                                    <li>Supplier has its physical address and place of registration at  15208 extension 76, Polokwane,0795;</li>
                                    <li>Supplier will accept legal service at 15208 extension 76, Polokwane,0795; </li>
                                    <li>The Office Bearers of the Supplier are: Kearabiloe Ledwaba and Phillip Legodi;</li>
                                    <li>The telephone number of the Supplier is: 081 244 3980; </li>
                                </ol>
                            </li>
                            <li>Supplier’s website is <a href="http://www.okota.co.za">www.okota.co.za</a>.</li>
                        </ol>
                        <h3>
                            4. Goods and Services</h3>
                        <ol>
                            <li>The goods (“Goods”) offered by Okota are indicated on the Website under
                                the “home” and “promotion” sections of the Website, as updated from time
                                to time. </li>
                            <li>The purpose of the Website is to allow the User to order and view the Goods via
                                the Website.</li>
                            <li>The full price for the Goods is indicated on the Menu, as updated from time to time,
                                and will vary depending on the type, quantity and size of the Goods ordered as well
                                as any variations, amendments or upgrades made thereto. </li>
                            <li><strong>FREE DELIVERY</strong> - Free delivery is subject to the following terms and conditions:
                                <ol>
                                    <li>A minimum order of <strong>R10.00</strong> is required to qualify for Free Delivery; </li>
                                    <li>Each store has a specified delivery area (“Specified Delivery Area”) that is indicated
                                        on the Website for each particular store in related to which an order is placed.
                                        The delivery area for each store is no more that than <strong>10km</strong> (Five Kilometres) from
                                        the store ordered from. If the delivery area is not specifically mentioned on the
                                        Website in relation to the particular store that the order is placed, such area
                                        is deemed not to be included in the Specified Delivery Area for that particular
                                        store. Okota reserves the right not to delivery any Goods to an area outside
                                        of the Specified Delivery Area. However, Okota may, at its sole discretion,
                                        elect to deliver Goods to area outside of the Specified Delivery Area, subject to
                                        a reasonable delivery fee. In order to calculate the distance from the store to
                                        the User for the purposes of determining whether Free Delivery applies will be calculated
                                        as the ‘as the crow flies’ distance calculated from the restaurant ordered from,
                                        to the first point of entry (i.e. security gate). The calculation for determining
                                        the delivery will be based on the actual kilometres travelled ‘door to door’.
                                    </li>
                                </ol>
                            </li>
                            <li>Goods and services offered through this website by Supplier are strictly on an “as
                                is” basis for the price as indicated on the Website, as updated from time to time.</li>
                            <li>User’s cooling-off rights under section 44 of ECTA do not apply in terms of section
                                42(c) of ECTA insofar as the electronic transaction applies to the supply of foodstuffs,
                                beverages and other goods intended for everyday consumption supplied to the home,
                                residence or workplace of the consumer.</li>
                        </ol>
                        <h3>
                            5. Payment
                        </h3>
                        <ol>
                            <li>Payment can be made in cash upon delivery or collection of the Goods or online by
                                credit card through a sufficiently secure payment system. The payment system allows
                                for review, corrections and withdrawal by User prior to placing a final order.
                            </li>
                        </ol>
                        <h3>
                            6. Registration</h3>
                        <ol>
                            <li>In order to access some of the features of the Website, the User must create an
                                account (“User’s Account”), which details the Users Personal Information. A User
                                may never use another User’s Account without the express permission from that User.
                            </li>
                            <li>The User is responsible for maintaining the confidentiality of the User’s Account
                                and password and for restricting access to the User’s computer. </li>
                            <li>The User agrees to accept responsibility for all activities that occur in relation
                                to the User’s Account, including the purchasing of and payment for Goods. </li>
                            <li><strong>The User warrants that all orders placed in relation to that User’s Account are
                                made by the User or with the User’s express consent and the User will be responsible
                                for the payment of any orders placed in respect of the User’s Account.</strong></li>
                        </ol>
                        <h3>
                            7. Cancellation and Opting Out</h3>
                        <ol>
                            <li>Okota reserves the right, in its sole and absolute discretion, to terminate
                                or cancel the User’s Account and to cease providing any of the Goods or services
                                currently offered via the Website, including the online ordering services. </li>
                            <li>The User may at any time voluntarily cancel the User’s Account. </li>
                            <li>Upon termination or cancellation of the User’s Account for any reason, either by
                                the User or Okota, the Personal Information will be permanently deleted.
                            </li>
                            <li>Upon Registration the User’s Account, the User has an option to be sent information
                                about special products and services in the future either by email or SMS, or both
                                (“Further Information”). The User may at any stage amend its election to receive
                                Further Information by editing the User’s Account or by contacting Okota
                                via the Website or via email (<a href="mailto:info@okota.co.za">info@okota.co.za</a>), which request will be
                                effect as soon as is reasonably possible. </li>
                            <li>The User may request details of the Personal Information, which is collected, stored
                                and used by Okota. In order to obtain such Personal Information the User
                                must submit a request in writing or via email (<a href="mailto:info@okota.co.za">info@okota.co.za</a>) to
                                Okota. Before any Personal Information is provided to the User, the User will be
                                required to verify its own identity to the satisfaction of Okota and in
                                accordance with applicable laws. </li>
                            <li>It is the sole responsibility of the User to ensure that the User’s Personal Information
                                is accurate and complete. The User agrees that it is the User’s responsibility to
                                notify Okota of any inaccuracies or incompleteness with respect to that
                                User’s Personal Information and to supply Okota with the accurate and/or
                                complete Personal Information.</li>
                        </ol>
                        <h3>
                            8. Complaints
                        </h3>
                        <ol>
                            <li>Okota offers Users to file complaints via the “Contact us” service of
                                the Website or the “Customer Care Line”. Currently Supplier does not subscribe to
                                any alternative dispute resolution code or mechanism. </li>
                        </ol>
                        <h3>
                            9. Intellectual Property Rights</h3>
                        <ol>
                            <li>All intellectual property, including copyright, know-how, goodwill or trade marks
                                used on or in relation to the Website is owned by Okota, Kearabiloe Ledwaba t/a Okota or by the original
                                creator of the materials (“Owner”)
                                and is protected by law, including but not limited to, the Trade Marks Act 194 of
                                1993, the Copyright Act 98 of 1978 as well as the common law of South Africa and
                                various treaties and conventions. None of the materials may be copied, reproduced,
                                modified, published, uploaded, posted, transmitted, or distributed in any form or
                                by any means without the prior written permission of the Owner. All rights are reserved
                                and any unauthorised use of the copyright, trade marks or other intellectual property
                                right appearing on the Website may result in criminal and/or civil penalties.</li>
                            <li>Okota may make any changes to the Website or the Goods or services offered
                                through the Website at any time and without notice to the User. </li>
                        </ol>
                        <h3>
                            10. Limited License to Users</h3>
                        <ol>
                            <li>Okota grants the User, a non-exclusive, non-transferable, limited and
                                revocable (reversible) right to access, display, use, download and otherwise copy
                                the current and future content displayed on the Website (“Content”), including the
                                downloadable menu, for personal, non-commercial and information purposes only.</li>
                            <li>This Website and the Content may not be reproduced or otherwise exploited for any
                                commercial purpose without the express prior written consent of Okota.</li>
                            <li>The use of the Website is limited to adults, who can purchase with a credit card.
                                If a User is under the age of 18 (Eighteen) years (“Minor”), the Minor may only
                                use the Website with the consent of a parent or guardian. Okota reserves
                                the right to refuse service, terminate accounts, remove or edit content, or cancel
                                orders at their sole discretion. </li>
                            <li>Okota and the Owners, their affiliates, franchisees or subsidiaries reserve
                                the right to refuse service, terminate accounts, remove or edit content, or cancel
                                orders in their sole discretion.</li>
                            <li>Any unauthorised use terminates this license.</li>
                        </ol>
                        <h3>
                            11. Limitation of liability</h3>
                        <ol>
                            <li>To the full extent permitted by law, the Website and all Content on the Website,
                                are provided on an “as is” basis, and may include inaccuracies or typographical
                                errors.</li>
                            <li>Okota and the Owners as well as their shareholders, franchisees, suppliers,
                                employees, directors, partners, affiliates and agents (“Service Providers”) will
                                not be liable for any damage, or loss or liability of any nature, however arising
                                (including negligence), including lost profits or any special, incidental or consequential
                                damages arising out of or in connection with the use of the Website, the Goods and
                                services provided or these Terms. The liability of the Service Providers to the
                                User or any third parties in any circumstance is limited collectively to R5 000.00
                                (Five Thousand Rand).</li>
                            <li>The Service Providers do not make any representations or warranties of any kind,
                                express or implied, as to the operation of the Website or the Information, Content,
                                materials, or Goods included on the Website. The Service Providers do not warrant
                                that the Website, its servers, or e-mail sent from them are free of viruses or other
                                harmful code. The Service Providers will not be liable for any damages of any kind
                                arising from the use of the Website, including, but not limited to direct, indirect,
                                incidental, punitive, and consequential damages. The User expressly agrees that
                                its use of the Website is at the User’s sole risk.</li>
                        </ol>
                        <h3>
                            12. Privacy, Access To and Use of Information</h3>
                        <ol>
                            <li>Okota receives various types of information (“Information”) from Users
                                who access the Website, including personal information as detailed in the Promotion
                                of Access to Information Act (“PAIA”), Act 2 of 2000, and as detailed in section
                                1 of the ECTA (“Personal Information”). </li>
                            <li>Okota may electronically collect, store and use Personal Information,
                                including the name, contact details, email and IP address of the User. While Okota will take commercially
                                reasonable care to safeguard the information provided
                                by the User from unauthorized access or disclosure, Okota, its affiliates,
                                franchisees, shareholders, directors, employees and partners do not represent or
                                guarantee that the safeguards will provide absolute protection to the User.</li>
                            <li>By providing the Personal Information to Okota you consent to Okota collecting, maintaining, storing and
                                processing the information.</li>
                            <li>Okota will not, without the Users prior consent, disclose your Personal
                                Information to a third party other than to effect the purchase, sale and delivery
                                of the Goods or if legally required to do so. However, Okota may use the
                                Personal Information to statistical or aggregated information in such a way that
                                the User may not be identified. </li>
                            <li>Okota, its shareholders, franchisees, affiliates, directors, employees
                                and partners will not be responsible for any damages you or any third party may
                                suffer as a result of the transmission of confidential or disclosed information
                                that you make to Okota through the Internet, or that you expressly or
                                implicitly authorise Okota to make, or for any errors or any changes made
                                to any transmitted information. </li>
                            <li>To ensure acquaintance with and awareness of the privacy measures and policies of
                                the Okota, the User is urged to take care to read and understand the underlying
                                privacy clauses incorporated in these Terms.</li>
                        </ol>
                        <h3>
                            13. Privacy - Casual Surfing</h3>
                        <ol>
                            <li>The User may visit the Website without providing any personal information. </li>
                            <li>The User accordingly grants express written permission for the Website servers in
                                such instances collecting the IP address of the Users computer, but not the email
                                address or any other distinguishing information.</li>
                            <li>This information is aggregated (added up) to measure the number of visits, average
                                time spent at the Website, pages viewed and other similar information. </li>
                            <li>Okota uses this information to determine use of the Website, and to improve
                                Content. </li>
                            <li>Okota assumes no obligation to protect this information, and may copy,
                                distribute or otherwise use the information.</li>
                        </ol>
                        <h3>
                            14. Privacy - Unsolicited information</h3>
                        <ol>
                            <li>If the User posts unsolicited content or other information (“Information”) to the
                                Website and does not indicate otherwise the User grants to Okota non-exclusive,
                                royalty-free, perpetual (everlasting), irrevocable (irreversible), and fully sub-licensable,
                                right to use, reproduce, modify, adapt, publish, translate, create derivative works
                                from, distribute, and display such Information throughout the world in any media.
                                </li><li>The User grants to the Owners the right to use the name that the User submits in
                                    connection with such Information, if they choose. The User warrants:
                                    <ol>
                                        <li>that the User owns or otherwise controls all of the rights to the Information that
                                            the User posts; </li>
                                        <li>that the Information is accurate; </li>
                                        <li>that by the supply of the Information to Okota the User does not violate
                                            this Policy and does not infringe the rights of any person or entity; and </li>
                                        <li>that the User indemnifies Okota for all claims resulting from the receipt
                                            by Okota of the Information the User supplies to it. </li>
                                    </ol>
                                </li>
                                <li>Okota may monitor and edit or remove any Information, where posted to
                                    public pages. Okota takes no responsibility, and assumes no liability
                                    for any Information posted by the User or any third party.</li>
                        </ol>
                        <h3>
                            15. Privacy - Solicited Information the User Gives to Okota</h3>
                        <ol>
                            <li>Okota requires certain Personal Information necessary to process transactions
                                if the User requires any of Okota’s products or services. </li>
                            <li>Okota receives and stores all Information, including Personal Information
                                which the User enters on the Website or gives to Okota, in any other way.
                            </li>
                            <li>Okota provides its products and services in conjunction with its affiliates
                                and franchisees. In this regard and unless specifically restricted by the User from
                                the license below, the User expressly grants in writing to Okota a non-exclusive,
                                royalty-free, perpetual, irrevocable, and fully sub-licensable right to use, reproduce,
                                modify, adapt, publish, translate, create derivative works from, distribute, and
                                display such Information throughout the world in any media insofar as the User’s
                                Information is required by Okota, its franchisees or affiliates to give
                                effect to transactions that the User chooses to enter into.</li>
                        </ol>
                        <h3>
                            16. Privacy - Promotional Information
                        </h3>
                        <ol>
                            <li>Okota aspires to provide first-class service to its customers, which requires
                                Okota providing information to the User about new services or special
                                offers. In each instance, the User is provided an opportunity to opt-out of such
                                information circulars. For more information, please call the Okota Customer
                                Care Line 081 244 3980, or send an email to <a href="mailto:info@okota.co.za">info@okota.co.za</a>.</li></ol>
                        <h3>
                            17. Privacy - Business Transfers
                        </h3>
                        <ol>
                            <li>Okota may enter into business arrangements and its customer base is one
                                of the more valued assets. In such an event, customer Information will be one of
                                the transferable assets.</li></ol>
                        <h3>
                            18. Privacy - Lawful Purposes
                        </h3>
                        <ol>
                            <li>When the Okota is served with due legal process requiring the delivery
                                of Personal Information, it has the legal duty to abide by that demand, and will
                                do so. Okota may also impart Personal Information if permitted or required
                                to do so by law.</li></ol>
                        <h3>
                            19. Privacy - Storage
                        </h3>
                        <ol>
                            <li>Personal Information will be stored for as long as it is used. Personal Information
                                may be destroyed once it has become obsolete (out of date or unusable).</li></ol>
                        <h3>
                            20. Privacy - Interception
                        </h3>
                        <ol>
                            <li>The User agrees that Okota may intercept, block, read, delete, disclose
                                and use all communications sent or otherwise communicated to Okota, its
                                employees, franchisees, directors and agents. User agrees that his or her consent
                                satisfies the requirements of ECTA and RIC for consent in “writing” as defined.</li></ol>
                        <h3>
                            21. General</h3>
                        <ol>
                            <li>No waiver by a party of any breach, failure or default in performance by the other
                                party, and no failure, refusal or neglect by a party to exercise any right hereunder
                                or to insist upon strict compliance with or performance of the other party's obligations
                                under these Terms, shall constitute a waiver of the provisions of these Terms and
                                a party may at any time require strict compliance with the provisions of these Terms.</li>
                            <li>These Terms constitute the entire agreement between the User and Okota
                                with respect to the use of the Website and the provision of the Goods. There are
                                no other oral or written understandings or agreements between the User and Okota relating to the subject
                                matter of these Terms. Save as provided for herein,
                                no amendment, cancellation or other modification of these Terms shall be valid or
                                binding on a party hereto unless reduced to writing.</li>
                            <li>These Terms shall be governed by and in accordance with the laws of South Africa
                                and the User consents to the jurisdiction of the South Gauteng High Court, Johannesburg
                                in the event of any dispute.</li>
                            <li>All the provisions of these Terms shall be severable and no provision shall be affected
                                by the invalidity of any of the other provisions. </li>
                            <li>The headings of the clauses are intended for convenience only and shall not affect
                                the interpretation of these Terms.</li>
                        </ol>
                    </div>
{% include 'footer.html' %}


               </div>
            </div>
        </section>
    </section>

{%  endblock %}
